In [1]:
import pandas as pd
from datetime import datetime
from faker import Faker
from faker.providers import date_time, python, geo

faker = Faker()
faker.add_provider(date_time)
faker.add_provider(python)

In [2]:
start_date = "2018-01-01"
end_date = "2019-12-31"

In [5]:
# PRODUCTION
dates = pd.date_range(start = start_date, end = end_date).to_pydatetime().tolist()
data = { 
    'date': dates,
    'units': [faker.pyint(min_value = 10, max_value=200) for i in range(len(dates))],
}
production_df = pd.DataFrame(data)
production_df.to_csv('production.csv', index = False)
production_df.head()

        date  units
0 2018-01-01    148
1 2018-01-02     36
2 2018-01-03     91
3 2018-01-04    184
4 2018-01-05     99

In [7]:
# SALES
rows = 2500
locations = [faker.location_on_land() for i in range(rows)]
data = {
    'date': [faker.date_between_dates(datetime.fromisoformat(start_date), datetime.fromisoformat(end_date)) for i in range(rows)],
    'profit': [faker.pyfloat(min_value = -1000, max_value = 5000, right_digits=2) for i in range(rows)],
    'loc_lat': [i[0] for i in locations],
    'loc_lng': [i[1] for i in locations],
    'loc_city': [i[4].split('/')[1] for i in locations]
}
sales_df = pd.DataFrame(data)
sales_df.sort_values('date', inplace = True)
sales_df.to_csv('sales.csv', index = False)
sales_df.head()

            date   profit   loc_lat     loc_lng        loc_city
173   2018-01-01  1887.17  25.49043    85.94001         Kolkata
2435  2018-01-01  2999.77  18.65297   -72.09391  Port-au-Prince
362   2018-01-01  4894.21   6.25947   102.05461         Bangkok
454   2018-01-01  2871.56  36.06523  -119.01677     Los_Angeles
1562  2018-01-01  3114.29  15.58552   102.42587         Bangkok